<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="6" parallel="tests">
  <test name="ChromeTest">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="selflearn.selflearn.BaseCls"/>
    </classes>
  </test>
  <test name="FireFoxTest">
  <parameter name="browser" value="firefox"/>
  <parameter name="os" value="Windows"/>
    <classes>
      <class name="selflearn.selflearn.BaseCls"/>
    </classes>
  </test>
</suite> <!-- Suite -->
